@font-face
{
	font-family: finkHeavy;
	src: ("../fonts/FinkHeavy.woff");
}

body
{
	width: 512px;
	height: 384px;

	background-image: url("../images/Background.png");
	background-size: auto;
	background-origin: padding-box;
	background-repeat: no-repeat;
	font-family: finkHeavy;
	text-align: center;
}

h1
{
	margin-top: 15px;
	margin-bottom: 30px;
}

p
{
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 5px;
}